#texto1{
    border: 20px solid red;
    float: left;
}

#texto2{
    border: 20px solid green;
    clear: both;

}

#texto3{
    border: 20px solid blue;
    float: left;

}

#texto4{
    border: 20px solid yellow;
    float: right;
}